<tr>
  <td>
    <%= image_tag(line_item.product.img_url, alt: line_item.product.name, height: 100, width: 100, class: 'main-img') %>
  </td>
  <td>
    <%= line_item.product.name %>
    <br>
    <%= line_item.product.description %>
  </td>
  <td>
    <%= humanized_money_with_symbol line_item.item_price_cents / 100.00 %>
  </td>
  <td>
    <%= line_item.quantity %>
  </td>
  <td>
    <%= humanized_money_with_symbol line_item.total_price_cents / 100.00 %>
  </td>
</tr>